.dark .alert {
  background-color: $color-dark-primary !important;
}

.alert {
  background-color: var(--gray-100);
  border-radius: 0.7rem;
  color: var(--bluegray-900);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  padding: 0.7rem 1rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-shadow: 0 0 2rem rgba($color-primary-dark, 0.3);
  z-index: 99;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__container {
    position: fixed;
    right: 2rem;
    bottom: 7rem;
    z-index: 99999999;

    @include respond(phone-1) {
      right: 50%;
      transform: translateX(50%);
    }

    @include respond(phone-2) {
      bottom: 10rem;
    }
  }

  &__message {
    font-size: 0.9rem;
    padding: 0 0 0 0.7rem;
    margin-right: auto;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;

    &--success {
      fill: var(--green-700);
    }

    &--warning {
      fill: var(--yellow-700);
    }

    &--error {
      fill: var(--red-700);
    }

    &--info {
      fill: var(--blue-700);
    }

    &--close {
      fill: var(--red-700);
    }
  }

  & > .btn {
    padding: 0;
    background-color: transparent;
  }
}

#alerts {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

[dir='rtl'] #alerts {
  right: unset !important;
  left: 1rem !important;
}
