$color-primary-dark: #303841;
$color-primary-light: #3a4750;

$color-secondary: #2185d5;
$color-secondary-dark: #0837b8;
$color-secondary-light: #73aede;
$color-secondary-dark-2: #0f446d;
$color-secondary-dark-1: #1476c3;
$color-tertiary: #495464;

$color-blue-light: #f6f9fc;
$color-blue-dark: #0060ac;

$color-white: #fff;

$color-yellow-light: #fcec5a;
$color-red: #f66969;
$color-red-dark: #eb2727;
$color-black: #000;

$color-orange: #f6621b;
$color-rose: #ff9292;
$color-yellow: #ded959;
$color-indigo: #0e8cbe;
$color-violet: #d39fdb;
$color-green: #84e571;
$color-green-dark: #31a909;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #f3f3f3;
$color-grey-light-3: #e6e6e6;
$color-grey-light-4: #c1c1c1;
$color-grey-light-5: #bbbbbb;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #666;
$color-grey-dark-4: #333;
$color-grey-dark-5: #222;
$color-grey-dark-6: #111;

$color-facebook: #3964d9;
$color-twitter: #00c3ff;
$color-gmail: #d44638;
$color-github: #211f1f;
// $dark-primary: #1A1831;
// $dark-secondary: #070739; 
// $dark-tertiary: #C0EEF2;
// $dark-grey: #E9F8F9;

$color-dark-primary: #121518;
$color-dark-secondary-dark: #003763;
$color-dark-secondary-light: #2B8DDB;
$color-dark-tertiary: #222831;
$color-dark-quadratic: #0e1114;

// #181823 171c20
// #537FE7
// #C0EEF2
// #E9F8F9


// $color-primary-dark: #171b20;
// $color-primary-light: #dadada;

// $color-secondary: #2185d5;
// $color-secondary-dark: #0837b8;
// $color-secondary-light: #73aede;
// $color-secondary-dark-1: #1476c3;
// $color-tertiary: #495464;

// $color-blue-light: #f6f9fc;
// $color-blue-dark: #0060ac;

// $color-white: #171b20;

// $color-yellow-light: #fcec5a;
// $color-red: #f66969;
// $color-red-dark: #eb2727;
// $color-black: #222831;

// $color-orange: #f6621b;
// $color-rose: #ff9292;
// $color-yellow: #ded959;
// $color-indigo: #0e8cbe;
// $color-violet: #d39fdb;
// $color-green: #84e571;
// $color-green-dark: #31a909;

// $color-grey-light-1: #f9f9f9;
// $color-grey-light-2: #101316;
// $color-grey-light-3: #e6e6e6;
// $color-grey-light-4: #c1c1c1;

// $color-grey-dark-1: #999;
// $color-grey-dark-2: #777;
// $color-grey-dark-3: #666;
// $color-grey-dark-4: #333;
// $color-grey-dark-5: #222;
// $color-grey-dark-6: #111;

// $color-facebook: #3964d9;
// $color-twitter: #00c3ff;
// $color-gmail: #d44638;
// $color-github: #211f1f;