@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;500;600;700&display=swap');

@import './abstract/_vars.scss';

@import './abstract/_mixins.scss';

@import './components/_link.scss';
@import './components/_menu.scss';
@import './components/_shortcuts.scss';
@import './components/_table.scss';

@import './base/_base.scss';
@import './base/_typography.scss';
@import './base/_utilities.scss';
@import './base/_animate.scss';

@import './layout/_background.scss';
@import './layout/_widget.scss';
@import './layout/_alert.scss';

@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

// html.dark {
//   background: #121212;
//   color-scheme: dark;
// }

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.p-inputtext {
  width: 100% !important;
  border: none !important;
}
